spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/musicStream
    username: postgres
    password: abc
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 10MB
      max-request-size: 11MB
      location: ${java.io.tmpdir}

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

storage:
  location: uploads

cors:
  allowed-origins: http://localhost:4200
  allowed-methods: GET, POST, PUT, DELETE, OPTIONS
  allowed-headers: '*'
  allow-credentials: true

logging:
  level:
    com.musicstream: DEBUG
    org.springframework.web: DEBUG